@charset "utf-8";
.ie .in {
  word-wrap: break-word;
  overflow-x: hidden;
  height: 1%;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
li {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
}
body {
  font-size: 81.25%;
  font-family: "Lucida Grande", Arial, sans-serif;
  color: #333333;
}
body p {
  font-size: 1em;
  line-height: 1.5384615384615385em;
  margin-top: 1.5384615384615385em;
  margin-bottom: 1.5384615384615385em;
}
body h1 {
  font-size: 1.5384615384615385em;
  line-height: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}
body h2 {
  font-size: 1.3986013986013985em;
  line-height: 1.1em;
  margin-bottom: 1.1em;
  margin-top: 1.1em;
}
body h3 {
  font-size: 1.2820512820512822em;
  line-height: 1.2em;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
}
body h4 {
  font-size: 1.183431952662722em;
  line-height: 1.3em;
  margin-bottom: 1.3em;
  margin-top: 1.3em;
}
body h1 {
  font-family: Helvetica, Arial, sans-serif;
  color: #003366;
}
body h2 {
  font-family: Helvetica, Arial, sans-serif;
  color: #0f3357;
}
body h3 {
  font-family: Helvetica, Arial, sans-serif;
  color: #000000;
}
body {
  text-align: center;
}
body {
  padding-top: 40px;
}
#skip-link a, #skip-link a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}
#skip-link a:hover, #skip-link a:active, #skip-link a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}
#page {
  width: 80%;
  min-width: 740px;
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
  zoom: 1;
  background: -moz-linear-gradient(center top -90deg, #f1f1f1, #cccccc);
  background: -webkit-gradient(linear, center top, center bottom, color-stop(0, #f1f1f1), color-stop(1, #cccccc));
  -webkit-background-origin: padding-box;
  -pie-background: linear-gradient(-90deg, #f1f1f1, #cccccc);
  behavior: url(css/flawless/core/css3/PIE.htc);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  behavior: url(css/flawless/core/css3/PIE.htc);
  -moz-box-shadow: 2px 2px 10px #999999;
  -webkit-box-shadow: 2px 2px 10px #999999;
  box-shadow: 2px 2px 10px #999999;
  behavior: url(css/flawless/core/css3/PIE.htc);
  border: 1px solid #036;
}
#page .wrap, #page .in {
  zoom: 1;
}
#page .wrap:before,
#page .in:before,
#page .wrap:after,
#page .in:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
#page .wrap:after, #page .in:after {
  clear: both;
}
#page:before, #page:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
#page:after {
  clear: both;
}
@media only screen and (min-width: 0px) {
  #page {
    width: 80%;
    min-width: 0px;
    max-width: 960px;
    margin: 0 auto;
    text-align: left;
    zoom: 1;
  }
  #page .wrap, #page .in {
    zoom: 1;
  }
  #page .wrap:before,
  #page .in:before,
  #page .wrap:after,
  #page .in:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  #page .wrap:after, #page .in:after {
    clear: both;
  }
  #page:before, #page:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  #page:after {
    clear: both;
  }
}
header {
  width: 100%;
}
header > .in {
  margin-right: 1em;
  margin-left: 1em;
}
nav#main-menu {
  width: 100%;
  zoom: 1;
}
nav#main-menu:before, nav#main-menu:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
nav#main-menu:after {
  clear: both;
}
nav#main-menu li {
  display: inline;
}
nav#main-menu li a {
  float: left;
  text-decoration: none;
}
nav#main-menu li a:link, nav#main-menu li a:visited {
  background: #e3e3e3;
}
nav#main-menu li a:hover {
  background: #a3ced7;
}
nav#main-menu li a.active, nav#main-menu li .active a {
  background: #a3ced7;
}
nav#main-menu li a:link, nav#main-menu li a:visited {
  color: black;
}
nav#main-menu li a:hover {
  color: black;
}
nav#main-menu li a.active, nav#main-menu li .active a {
  color: black;
}
nav#main-menu li a:link, nav#main-menu li a:visited {
  -webkit-border-radius: 0px 5px 0px 0px;
  -moz-border-radius: 0px 5px 0px 0px;
  border-radius: 0px 5px 0px 0px;
  behavior: url(css/flawless/core/css3/PIE.htc);
}
nav#main-menu li a:link, nav#main-menu li a:visited {
  padding: 0.5em 1em;
}
nav#main-menu a {
  margin-left: 0;
  margin-right: 0.3em;
}
#content {
  zoom: 1;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  position: relative;
}
#content:before, #content:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
#content:after {
  clear: both;
}
article {
  width: 50%;
  float: left;
  left: 25%;
  position: relative;
  padding-bottom: 32767px;
  margin-bottom: -32767px;
  background-color: #a3ced7;
}
article > .in {
  margin-right: 1em;
  margin-left: 1em;
}
#sidebar-1 {
  width: 25%;
  float: left;
  right: 50%;
  position: relative;
  padding-bottom: 32767px;
  margin-bottom: -32767px;
  background-color: #a3ced7;
}
#sidebar-1 > .in {
  margin-right: 1em;
  margin-left: 1em;
}
#sidebar-2 {
  width: 25%;
  margin-left: -5px;
  float: right;
  padding-bottom: 32767px;
  margin-bottom: -32767px;
}
#sidebar-2 > .in {
  margin-right: 1em;
  margin-left: 1em;
}
footer {
  width: 100%;
  text-align: center;
  border-top: 1px dashed #666;
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  article {
    width: 100%;
    left: 0;
    right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #sidebar-1 {
    width: 50%;
    left: 0;
    right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #sidebar-2 {
    width: 50%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 480px) {
  article {
    width: 100%;
    left: 0;
    right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #sidebar-1 {
    width: 100%;
    left: 0;
    right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #sidebar-2 {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
