// The Magnificent CLEARFIX. Prevents margin-collapsing on child elements.
// See http://j.mp/bestclearfix
.util_clearfix() {
  &:before,
  &:after {
		content: "\0020";
		display: block;
		height: 0;
		visibility: hidden;
	}
  &:after {
    clear: both;
  }
  zoom: 1;
}
