* html .clearfix,
* html .grid,
* html .wrap,
* html .in,
* html .equal {
    height: 1%;
}

body { height:1%; }
.grid, .wrap, .in, .equal {
  zoom: 1;
}
/* Fixes IE margin bugs */
.in { word-wrap: break-word; overflow-x: hidden;}

.equal {
  display:inline;
}
.col-left, .col-right {
  display:inline;
}

/* Elements
-------------------------------------------------------------- */

/* Fixes incorrect styling of legend in IE6. */
* html legend { margin:0px -8px 16px 0; padding:0; }

/* Fixes wrong line-height on sup/sub in IE. */
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }

/* Fixes IE7 missing wrapping of code elements. */
html>body p code { *white-space: normal; }

/* IE 6&7 has problems with setting proper <hr> margins. */
hr  { margin:-8px auto 11px; }

/* Explicitly set interpolation, allowing dynamically resized images to not look horrible */
img { -ms-interpolation-mode:bicubic; }